<p>Available {{model.length}} rooms, please choose the room for see more details</p>

Rooms:
{{#power-select
  options=model
  selected=chosenRoom
  onchange=(route-action "chooseRoom")
  as |room|
}}
  {{room.name}}
{{/power-select}}

{{outlet}}
